name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - run: dotnet publish -c Release -r win-x64 --self-contained -o output
    - uses: actions/upload-artifact@v4
      with:
        name: MeuGestorVODs
        path: output/**/*